html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Gotham Ultra', Arial, sans-serif;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.jumbotron {
    background: transparent;
}

.section {
    width: 100vw;
    background-color: #FFF;
    position: relative;
    z-index: 1;
}

.section--landing {
    padding: 0;
    /*height: 90vh;*/
    width: 100%;
}

.section--landing .jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: yellow;
}

.section--landing .video {
    /*height: 100%;*/
    width: 100%;
}

.section--landing .video__video {
    width: 100%;
}

.landingBgVideo {
    width: 100%;
    left: -100%;
    top: -100%;
}

.section--top {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.section--top:before {
    width: 100%;
    height: 0;
    border-width: 200px;
    display: block;
    content: ' ';
    position: absolute;
    top: -15vw;
    left: 0;
    border-left-width: 50vw;
    border-right-width: 50vw;
    box-sizing: border-box;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: #FFF;
    border-right-color: #FFF;
    border-bottom-color: transparent;
    z-index: -1;
}

.section--top h2 {
    margin-top: 0;
    height: 150px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    width: 100%;
    color: #FFF;
    background-image: linear-gradient(to right top, #FFF 0%, #FFF 50%, #223874 50%, #223874 100%);
    
}
.section--top p {
    margin-top: -50px;
    font-size: 22px;
}


.section--awards {
    overflow: hidden;
    z-index: 3;
}

.section--awards:before {
    width: 100%;
    height: 40%;
    position: absolute;
    display: block;
    content: ' ';
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #FFF 0%, #FFF 50%, transparent 50%, transparent 100%);
}

.section--info {
<<<<<<< HEAD

=======
    text-align: center;
    margin-top: -22%;
    z-index: 4;
    background-color: transparent;
    padding: 18% 0;
    overflow: hidden;
}

.section--info img:nth-of-type(1) {
    z-index: -1;
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.section--info img:nth-of-type(2) {
    z-index: -2;
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
}

.section--info .bridge {
    margin-top: -50px;
    width: 100%;
}
.section--info .bridge:before, .section--info .bridge:after {
    width: 200%;
    height: 300px;
    background-color: #FFF;
    display: block;
    content: ' ';
    position: relative;
    z-index: 1;
}
.section--info .bridge:before {
    background-image: linear-gradient(80deg, #FFFFFF 0%, #FFFFFF 50%, #223874 50%, #223874 100%);
    transform: translateX(-15%) rotate(10deg); 
}

.section--info .bridge:after {
    background-image: linear-gradient(100deg, #FFFFFF 0%, #FFFFFF 50%, #223874 50%, #223874 100%);
    transform: translateX(-15%) rotate(-10deg); 
>>>>>>> origin/master
}

.section--info .bridge .bridge__text {
    color: #FFF;
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    z-index: 2;
}

.section--events h2.headline {
    color: #FFF;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    padding: 30px 0 70px 0;
}
.section--events h2.headline:before {
    display: block;
    content: ' ';
    width: 100vw;
    height: 0;
    border-top: 120px solid #223874;
    border-left: 40vw solid transparent;
    border-right: 60vw solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bannerImgFullWidth {
    max-width: 1150px;
    max-height: 250px;
    overflow-y: hidden;
    width: 100%;
}

.margins {
    margin: auto;
    margin-top: 2vh;
}

.cursorSelectable {
    cursor: pointer
}

.panel-heading:hover {
    background-color: #cce6fb;
    transition: ease-in-out, 0.4s;
}
.imgContainer {
    max-height: 150px;;
    overflow: hidden;
}







.overlay {
    position: absolute;
}

.bannerTextWhite {
    color: white;
}
<<<<<<< HEAD
=======


footer {
    height: 100px;
    background-image: linear-gradient(to right top, #252525 0%, #252525 48%, yellow 48%, yellow 52%, transparent 52%, transparent 100%);
}

footer p {
    padding-top: 40px;
    padding-left: 2%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
<<<<<<< HEAD
.links {
    margin-right: 50px;
    font-size: 18px;
}
=======
>>>>>>> origin/master
>>>>>>> origin/master
